* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.desktop {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:calc(100% - 30px);
    margin-top:30px;
    overflow:scroll;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    gap:10px;
    padding:10px;
    box-sizing:border-box;
    z-index:2;
    align-content:flex-start;
}
div#controls {
    display:none;
    position:fixed;
    top:0px;
    right:0px;
}
div.block {
    position:relative;
    width:300px;
    padding:10px;
    background-color:#eee;
    border-width:2px;
    border-color:grey;
    border-style:solid;
    box-sizing:border-box;
    border-radius:10px;
    font-size:16px;
}
div.block:focus, button:focus {
    outline-width:2px;
    outline-color:#00008b;
    outline-style:solid;
}
div.block:focus-visible, button:focus-visible {
    outline-width:2px;
    outline-color:#00008b;
    outline-style:solid;
}
textarea.block-edit {
    width:100%;
    height:100%;
    background-color: #ffffff00;
    box-sizing:border-box;
    font-size:16px;
}
div#top-bar {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
}
div#top-bar p {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    height:36px;
    display: flex;
    align-items: center;
    justify-content:center;
}
div#top-bar p span {
    display:block;
}
kbd {
    border:2px solid #111;
    background-color:#eee;
    box-shadow:2px 2px 0px grey;
    color:black;
    border-radius:5px;
    padding:3px;
    min-width:19px;
    display:inline-block;
}
div.modal {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    box-sizing:border-box;
    background-color:#ffffffcc;
    display:flex;
    align-items: center;
    justify-content:center;
    display:none;
    z-index:4;
}
div.modal-block {
    background-color:#ccc;
    padding:2em;
    border-radius:20px;
}
#no-blocks, #mid-block, #block-controls {
    display:none;
}
button {
    padding:5px;
    margin:5px;
    border-radius:5px;
    display:inline-block;
}
div.buttons {
    display:flex;
    justify-content:space-evenly;
}
.scary {
    border-color:red;
    background-color: #ffe7e7;
}
#button-bar {
    position:fixed;
    top:0px;
    right:0px;
}
#button-bar button {
    margin:5px 5px 5px 0px;
    padding:5px;
    border-radius:5px;
    z-index:3;
}
#scroll-div {
    overflow:scroll;
    width:300px;
    height:300px;
}
.restore-button {
    position:absolute;
    top:0px;
    right:30px;
    font-size:10px;
}
.delete-button {
    position:absolute;
    top:0px;
    right:0px;
    font-size:10px;
}
.modal-block p {
    margin-top:0px;
}